* {
	margin: 0;
	padding: 0;
}

body {
	background: transparent url(/images/background-fade-blue.png) repeat-x 0 0px;
}

.header {
	height: 225px;
}

.header .logo {
	position: relative;
	height: 225px;
}

.outer {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 880px;
}

.wrapper .inner {
	padding: 10px;
}

.wrapper .footer, .navigation {
	background-color: #efefef;
	padding: 10px 0px 1px 0px;
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #cecece;
	font-size: 10pt;
	height: 26px;
}

.navigation .main {
	float: left;
}

.navigation .secondary {
	float: right;
	font-size: 9pt;
}

.navigation ul {
	text-align: left; /* set to left, right or center */
	list-style-type: none;
	margin-top: 8px;
}

.navigation ul li {
  display: inline;
}

.navigation ul.main li.current a {
	font-weight: bold;
}

.navigation ul li a {
	position: relative;
}

.navigation ul.main li a {
	padding: 5px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #cecece; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #fff; /* set unselected tab background color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}

.navigation ul.main li a:hover {
  text-decoration: underline;
}

a, a:visited {
	color: #001a9d;
}

.left_column {
	float: left;
	width: 570px;
	margin-right: 30px;
}

.right_column {
	float: left;
	width: 210px;
}

.sidebar {
	margin-top: -10px;
	background-color: #ffe;
	border-left: 1px solid #cecece;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	min-height: 200px;
	padding: 10px;
	width: 235px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
}

/***** PAGINATION *****/
.pagination {
	margin: 10px 0;
	text-align: right;
}

.pagination a, .pagination .current {
	margin: 0 5px;
}

.pagination_stats {
	text-align: right;
}