.home.tabs ul li a {
	padding: 0px 11px;
}

#north .center .tabs .bottomtabs #mybar li {
	margin: 0px 5px;
}

.welcome.how .row .col {
	margin: 8px;
}

.welcome.right { text-align: center; }
.welcome.right.login { width: 294px !important; }
.welcome.right.login form { width: 270px; }
.welcome.right.login form input { display: inline; }


.bigform .addmotivator { cursor: hand; }

.new1, .new2, .new3 .info { text-align: center; }
.new1 div, .new2 div, .new3 .info p, .new3 .info form { text-align: left; }

.new3 .info form .right input { width: 220px !important; }
input.text, input.password, textarea { height: 27px; }
button {
  width: auto;
  overflow: visible;
}
#mybar li { margin: 2px 3px !important; }

#p-users-login label { width: 120px !important; }
#p-users-login input { width: 210px !important; }

.home .panel { width: 760px; }
.start_item { margin: 25px !important; }

.aboutme { text-align: center; }
.aboutme form { text-align: left; }
.aboutme form .textfields input,
.aboutme form .textfields textarea,
.aboutme form .textfields .note,
.aboutme form .textfields .error {
	width: 460px !important;
}
.aboutme form .textfields select { width: 455px; }


.group_quick_preview .join-button { cursor: hand; }
#activity_details .text { width: 250px; }
#activity_details select { width: 245px; }

#summary_box, #diet_log_entry_form { width: 318px; }

#message_list button, #message_list .reply { margin-top: 0 !important; }
.messages .tab_view { margin-top: 23px; }
.messages .tabs { margin-top: -23px; }
.messages.new { text-align: center; }
.messages.new form { text-align: left; }
.messages.new form label { width: 110px !important; }
#skyscraper_ad_iframe { overflow: hidden; }

.weight .note { text-align: center; }

.start_item .text { text-align: center; }

.quick_panel .pane { width: 252px; }

.create_topic .textfields label {
	width: 160px !important; }
	
#forum-breadcrumbs, .forum.header { width: 730px; }
.posts { width: 760px; }