body {
  background-color: #fff;
}

#post_box, #tool_box, .box {
	margin-bottom: 20px;
}

#about_box, #tool_box {
	border: 1px solid #90c6f2;
	padding: 10px 15px;
	background-color: #cde0ff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/***** TOOL BOX *****/
#tool_box {
	background-color: #fff3f3;
	border: 1px solid #cecece;
}

#tool_box h6 {
	border-bottom: 1px solid #cecece;
}

/**** POST BOX ****/
#post_box .posts {
	margin-top: 10px;
}
#post_box .view_all {
	float: right; 
	margin-top: 7px;
}

#post_box .post {
	border-bottom: 1px solid #cecece;
	padding: 10px;
	margin-bottom: 0;
}

.post {
	margin-bottom: 2.5em;
}

.post .meta {
	color: #bbb;
	margin-bottom: 10px;
}

.post .actions {
	margin: 10px 0;
	padding: 5px;
	background-color: #efefef;
	border: 1px solid #cecece;
	font-size: 8pt;
}

.post .content h3 {
	border-bottom: 1px solid #ccc;
	background-color: #efefef;
	padding: 4px;
}

.post .content h4 {
	border-bottom: 1px solid #ccc;
}

#post_box .meta {
	float: right;
	margin-bottom: 0;
	margin-top: 10px;
}

#post_box .post:hover {
	background-color: #efefef;
}

#post_box .actions {
	text-align: right;
	margin-top: 5px;
	padding: 5px;
}

/***** POSTS *****/
.wrapper label {
	background-color: #eaf3fa;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-bottom: 3px;
	padding: 7px 6px;
}

/***** FORMS *****/
textarea, input[type=text], input[type=password] {
	display: block;
	font-size: 12pt;
	margin: 5px;
	padding: 3px;
}

input#post_title {
	width: 550px;
}

textarea#post_text {
	width: 97%;
	font-size: 9pt;
	height: 250px;
}

/***** COMMENT BOX *****/
.comment_form {
	margin-bottom: 15px;
	padding: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #bbb;
}

.comment_form label {
	font-weight: bold;
	background-color: #eaf3fa;
	border: 1px solid #a6ccf3;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width: 130px;
}

.comment_form label[for=comment_text] {
	display: block;
	float: none;
	width: 335px;
}

.comment_form textarea {
	width: 325px;
	height: 90px;
	font-size: 9pt;
}

.comment_form input {
	font-size: 8pt;
}

/***** WIDGETS *****/
.widget {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 1em;
	border: 1px solid #cecece;
}

.widget > .content {
	padding: .5em 1em;
}

.widget > h6, .widget > h5, .widget > h4 {
	background: #EAF3FA;
	padding-left: .5em;
	border-bottom: 1px solid #cecece;
}

.widget .actions {
	background-color: #efefef;
	border-top: 1px solid #cecece;
}

/***** SIDEBAR *****/
.sidebar > a {
	display: block;
	padding: 8px 0;
	padding-left: 40px;
	border: 1px solid transparent;
	margin-bottom: 10px;
}

.sidebar > a:hover {
	border: 1px solid #acd;
	background-color: #CDE0FF;
}

.sidebar h4 {
	border-bottom: 1px solid #cecece;
}


/***** FEED *****/
a.xml_feed {
	background: transparent url(/images/icons/feed_24x24.png) no-repeat 6px 1px;
}

a.add_comment {
	background: transparent url(/images/icons/discussion_16x16.png) no-repeat 12px 7px;
}

/***** ACTIONS *****/
#action_box a {
	display: block;
	padding: 8px 0;
	padding-left: 40px;
	border: 1px solid transparent;
}

#action_box a.edit_post {
	background: transparent url(/images/icons/edit_16x16.png) no-repeat 10px 5px;
}

#action_box a.new_post {
	background: transparent url(/images/icons/entry_alt_16x16.png) no-repeat 10px 6px;
}

#action_box a:hover {
	border: 1px solid #acd;
	background-color: #CDE0FF;
}

/***** COMMENTS *****/
.comments {
	padding: 10px;
}

#comment_box .comment {
	margin-bottom: 15px;
}

#comment_box .meta {
	margin-bottom: 5px;
	color: #222;
	line-height: 1.4em;
}

#comment_box .meta .author {
	font-weight: bold;
}

#comment_box .comment .text {
	margin-left: 10px;
	border-left: 2px solid #bbb;
	padding-left: 5px;
	margin-top: 10px;
}

#comment_box .comment .meta {
	color: #aaa;
}

#comment_box h4 {
	border-bottom: 1px solid #bbb;
}

#comment_box .comment_actions {
	margin-top: 10px;
}
.submit_comment {
	float: left;
}

.small_spinner {
	display: none;
	margin-left: 125px;
}

/***** POSTS *****/
.post .content ul, .post .content ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

.post .content pre code {
	overflow: auto;
	background-color: #333;
	color: #eee;
	display: block;
	font-family: Monaco, monospaced;
	line-height: 16px;
/*	margin: 15px 0;
	padding: 10px;*/
}

.post .content li {
	margin-bottom: 10px;
}