/* @override http://localhost:4000/stylesheets/master.css */

body {
  background-color: #fff;
}

#post_box, #tool_box, .box {
	margin-bottom: 20px;
}

#about_box, #tool_box {
	border: 1px solid #90c6f2;
	padding: 10px 15px;
	background-color: #cde0ff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/***** TOOL BOX *****/
#tool_box {
	background-color: #fff3f3;
	border: 1px solid #cecece;
}

#tool_box h6 {
	border-bottom: 1px solid #cecece;
}

/**** POST BOX ****/
#post_box .posts {
	margin-top: 10px;
}
#post_box .view_all {
	float: right; 
}

#post_box .post {
	border-bottom: 1px solid #cecece;
	padding: 10px;
	margin-bottom: 0;
}

.post {
	margin-bottom: 2.5em;
}

.post .meta {
	color: #bbb;
	margin-bottom: 10px;
}

#post_box .meta {
	float: right;
	margin-bottom: 0;
}

#post_box .post:hover {
	background-color: #efefef;
}

#post_box .actions {
	text-align: right;
	margin-top: 5px;
	padding: 5px;
}

/***** POSTS *****/
label {
	background-color: #eaf3fa;
	cursor: pointer;
	display: block;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 3px;
	padding: 7px 6px;
}

/***** FORMS *****/
textarea, input[type=text], input[type=password] {
	display: block;
	font-size: 12pt;
	margin: 5px;
	padding: 3px;
}

textarea {
	width: 90%;
}

/***** WIDGETS *****/
.widget {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 1em;
	border: 1px solid #cecece;
}

.widget > .content {
	padding: .5em 1em;
}

.widget > h6, .widget > h5, .widget > h4 {
	background: #EAF3FA;
	padding-left: .5em;
	border-bottom: 1px solid #cecece;
}

.widget .actions {
	background-color: #efefef;
	border-top: 1px solid #cecece;
}
