---
development: &defaults
  adapter: mysql
  database: merblog_development
  username: root
  password: 
  host: localhost

test:
  <<: *defaults
  database: merblog_test

production:
  <<: *defaults
  database: merblog_production
