---
development: &defaults
  adapter: mysql
  database: smerb_development
  username: root
  password: 
  host: localhost

test:
  <<: *defaults
  database: smerb_test

production:
  <<: *defaults
  database: smerb_production
