.post
  %h3= link_to post.title, url(:slug, :year => post.published_at.year, :month => post.published_at.month, :day => post.published_at.day, :slug => post.slug)
  .meta
    Posted by
    %strong Bryan Ray 
    on 
    = post.published_at.display_date
    at
    = post.published_at.display_time
  .content
    = post.to_html
    
  .actions
    %strong Tags: