- throw_content :for_head do
  %link{ :rel => 'alternate', :type => 'application/rss+xml', :title => 'RSS', :href => '/feeds.xml' }

.left_column
  - @posts.each do |post|
    = partial :post, :post => post

.right_column.sidebar
  %h3 Sidebar